
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>SisCaVet</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>

        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">

        <script src='main.js'></script>

    </head>
    <body style>


        <!-- Barra Lateral -->
        <ul id="nav-mobile" class="side-nav fixed" style="width: 300px; transform: translateX(-100%);">
            <li class="logo">
                <div class="center-align">
                    <a id="logo-container" href="#" class="brand-logo ">
                        <img src="~/images/Logo1.png" width="125px" height="125px"/>
                    </a>
                </div>
            </li>
            <li><div class="divider"></div></li>
            <li><a href="#" class="waves-effect"> Clientes </a></li>
            <li><a href="#" class="waves-effect"> Animais </a></li>
            <li><a href="#" class="waves-effect"> Veterinarios </a></li>
            <li><a href="/Procedimento" class="waves-effect"> Procedimentos </a></li>
            <li><a href="#" class="waves-effect"> Consultas </a></li>
        </ul>
        
            @RenderBody()
            
        <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.js"></script>
      <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.js"></script>
      <script>
          $(document).ready(function(){
              $(".button-collapse").sideNav({
                  menuWidth: 250
              });
          });
      </script>
    </body>
</html>